* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

footer {
	height: 538px;
	width: 100%;
	background: #000;
	padding: 12px;

	.mid-container {
		height: 516px;
		border: 3px solid white;
		padding: 8px;

		.little-container {
			height: 496px;
			border: 1px solid white;

			.content-container {
				height: 418px;
				margin: 8px 12px 24px;
				padding: 32px;
				display: flex;

				.img-container {
					width: 25%;
					display: flex;
					justify-content: flex-end;
					align-items: flex-start;

					.olivia {
						height: 356px;
						max-width: 100%;
						object-fit: cover;
						margin-right: 32px;
					}
				}

				.heading-h3 {
					width: 100%;
					display: flex;
					flex-direction: column;

					.h3 {
						color: white;
						font-size: 14px;
						padding: 5px;
						margin-bottom: 4px;
						border-bottom: 1px solid #767676;
					}

					.second-border {
						height: 1px;
						background-color: #767676;
					}
				}

				.footer-link {
					color: white;
					text-decoration: none;
					font-size: 14px;
				}

				.footer-link:hover {
					color: #767676;
					text-decoration: underline;
				}

				.buttons-and-links-container {
					width: 70%;
					display: flex;
					flex-direction: column;
					gap: 8px;

					.top-container {
						height: 264px;
						background: #000000;
						display: flex;

						.buttons {
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							align-items: flex-start;
							gap: 16px;
							padding-right: 32px;
							border-right: 1px solid white;

							.button {
								height: 44px;
								width: 210px;
								padding: 4px;
								border: 1px solid;

								.inner {
									width: 200px;
									padding: 8px 4px;
									font-size: 13px;
									font-weight: bolder;
									border: 1px solid;
								}
							}

							#group-1 {
								background-color: white;
							}

							#group-2 {
								background-color: #000;
								border-color: white;

								#inner-2 {
									color: white;
								}
							}

							#group-1:hover,
							#group-2:hover {
								background-color: red;

								#inner-1 {
									border-color: white;
									color: white;
								}
							}
						}

						.mid-links-container {
							width: 30%;
							padding: 0 32px;
							border-right: 1px solid white;
							display: flex;
							flex-direction: column;
						}

						.links-container {
							margin-top: 12px;
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							gap: 10px;
						}

						#inner-container {
							display: flex;
							gap: 10px;
						}

						.follow {
							padding: 0 32px;
						}

						.social-svg {
							height: 15px;
							width: 15px;
							background-color: red;
						}
					}
				}

				.bottom-container {
					width: 100%;
					margin-top: 16px;
					padding-top: 30px;
					display: flex;
					gap: 32px;
					border-top: 1px solid #767676;
					position: relative;

					.second-border {
						height: 1px;
						width: 100%;
						background-color: #767676;
						position: absolute;
						top: 5px;
					}

					.vertical-border {
						height: 100%;
						width: 1px;
						background-color: white;
					}

					.bottom-container-block {
						width: 100%;
						display: flex;
						flex-direction: column;

						.heading-h2 {
							margin-bottom: 16px;

							.h2 {
								font-size: 16px;
								color: white;
							}
						}

						.email-input {
							display: flex;
							gap: 10px;

							.email {
								width: 80%;
								background-color: #000;
								padding: 8px 2px;
								border: none;
								border-bottom: 1px solid white;
								color: #767676;
							}

							.subscribe {
								width: 20%;
								padding: 4px 0;
								background: #000;
								border: none;
								border-top: 1px solid white;
								border-bottom: 1px solid white;
								color: white;
							}
						}

						.Tof {
							width: 100%;
							margin-top: 8px;

							.tof {
								text-align: center;
								color: white;
								font-size: 10px;
							}
						}

						.top {
							display: flex;
							margin-bottom: 16px;

							.title {
								padding-right: 12px;
								border-right: 1px solid white;

								.h4 {
									color: white;
									font-size: 15px;
								}
							}

							.subtitle {
								padding-left: 12px;

								.sub {
									color: white;
									font-size: 14px;
								}
							}
						}

						.bottom {
							display: flex;
							gap: 10px;

							.send-us-a-tip {
								color: white;
								text-decoration: none;
								font-size: 14px;
							}

							.send-us-a-tip:hover {
								color: #767676;
							}

							.block-bottom-border {
								height: 14px;
								width: 70%;
								border-bottom: 1px solid white;
							}
						}
					}
				}
			}
		}
	}
}
