* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    width: 1500px;
    height: 100vh;
}

#section1 {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.conteiner1 {
    display: flex; 
}

aside {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.lato1 {
    margin-top: 20px;
    list-style: none;
    border-width: 0 2px 0 2px;
    border-color: black;
    border-style: solid;
    padding: 20px;
    width: 200px;
}

a {
    color: black;
    font-size: 13px; 
}

a:hover {
    color: blue;
}

h3 {
    margin-top: 10px;
}

p {
    margin-top: 5px;
}

address {
    margin-top: 3px;
    opacity: 0.5;
}

.contenitore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
}

.cont-piccolo {
    width: 35%;
    text-align: center;
    border: double;
    border-width: 0 0 7px 0 ;
    padding: 5px;
}

h1, .text, .firma {
    text-align: center;
}

h1 {
    margin-top: 10px;
}

.contenitore1 {
    display: flex;
    margin-left: 60px;
    margin-top: 20px;
}

.lato2 {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 200px;
    align-items: center;
}

h2 {
    margin-top: 10px;
}

.riga {
    margin: 25px;
    width: 40vh;
    background-color: black;
    height: 1px;
}

.conteiner2 {
    display: flex;

}

.contenitore2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-width: 7px 0 0 0;
    border-color: black;
    border-style: double;
    margin-top: 40px;
    padding-top: 20px;
}

.cont1, .cont2, .cont3 {
    display: flex;
    width: 25%;
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: black;
    height: 100px;  
}

.cont4 {
    display: flex;
    width: 25%;
    height: 100px;
}

h4 {
    padding-top: 5px;
}

img {
    padding-right: 5px;
}

.cont {
    display: flex;
    flex-direction: column;
    width: 200px;
}

