* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#second-section {
	height: 100vh;
	width: 100%;
	padding: 40px 10%;
	display: flex;
	gap: 10%;
}

#line-1 {
	height: 5px;
	background-color: black;
}

aside {
	height: 100%;
	width: 210px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside > * {
	width: 210px;
}

aside #heading {
	display: flex;
	align-items: center;
	border-top: 1px solid black;
	margin-top: 5px;
}

aside #heading h1 {
	font-size: 20px;
}

aside ul {
	display: flex;
	flex-direction: column;
	gap: 24px;
	list-style: none;
	border-top: 1px solid black;
	padding-top: 20px;
}

aside .news-title {
	display: flex;
}

aside .title {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
}

aside .title h2 {
	font-size: 11px;
}

aside .subtitle {
	margin: 8px 0 4px;
}

aside .subtitle a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
aside .subtitle a:hover {
	color: #767676;
}

aside .content {
	font-size: 13px;
	margin-bottom: 2px;
}

aside .date {
	font-size: 11px;
	font-weight: bold;
	color: #767676;
}

aside #bottom {
	display: flex;
	align-items: baseline;
	height: 40px;
	text-decoration: none;
	color: black;
}

aside #read-more {
	border-top: 2px solid black;
	padding-top: 5px;
	margin-top: 15px;
}

aside #read-more h2 {
	font-size: 13px;
}

aside #triangle-container {
	height: 26px;
	width: 20px;
	border-top: 2px solid black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

aside #triangle {
	height: 8px;
	width: 10px;
	border-top: 5px solid rgba(0, 0, 0, 0);
	border-bottom: 5px solid rgba(0, 0, 0, 0);
	border-left: 8px solid #000;
}

#top-part {
	margin-top: 5px;
	padding: 32px 0 48px;
	border-top: 1px solid black;
	display: flex;
	gap: 48px;
}

#top-part #left {
	width: 40%;
}

#top-part #right {
	width: 60%;
}

#top-part #right #top {
	display: flex;
	gap: 5%;
}

.img-placeholder img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: relative;
}

.title-container {
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#left .title-container {
	background-color: white;
	transform: translate(-50%, -50%);
	position: absolute;
}

#where-we-stand-now-left {
	width: 190px;
	left: 37%;
	margin-left: 2px;
}

#cover-story {
	width: 125px;
	left: 14%;
}

.title {
	height: 90%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid black;
	position: relative;
}

#main-section article {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

article .subtitle a {
	font-size: 28px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

article .subtitle a:hover {
	color: #929292;
}

#left .subtitle {
	margin-top: 30px;
}

article .article-body p {
	font-size: 16px;
}

.author p {
	font-size: 13px;
}

.author a {
	text-decoration: none;
	color: black;
}
.author a:hover {
	color: #929292;
	text-decoration: underline;
}

article .news-title {
	display: flex;
	padding: 10px 0 10px;
}

article .news-title .title {
	border-bottom: 1px solid black;
}

.news-title .title a {
	font-size: 11px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#top-part #right #bottom {
	border-top: 1px solid black;
	padding-top: 24px;
	margin-top: 30px;
	font-size: 22px;
	color: #767676;
}

.bottom-link {
	text-decoration: none;
}

#link-1 {
	color: red;
}
#link-2 {
	color: black;
}

#link-2:hover {
	color: #767676;
}

#link-3 {
	color: #767676;
}

#link-3:hover {
	color: #767676;
	text-decoration: underline;
}

#bottom-part {
	margin-top: 5px;
	padding-top: 40px;
	border-top: 1px solid black;
	display: flex;
}

#bottom-part #left {
	width: 50%;
	padding-right: 48px;
	border-right: 1px solid black;
	position: relative;
}

#bottom-part #right {
	padding-left: 48px;
}

#bottom-part #right #title-container {
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.title {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid black;
	position: relative;
}

.title a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.double-border {
	height: 3px;
	width: 100%;
	background-color: #000;
	position: absolute;
	top: 85%;
}

#bottom-part #right article #subtitle a {
	font-size: 53px;
	text-decoration: none;
	color: black;
}

#bottom-part #right article #subtitle a:hover {
	color: #767676;
}

#bottom-part #right article #article-body {
	margin: 12px 0 16px;
	padding-right: 32px;
}
