* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    width: 100%;
    height: 100vh;
}
main {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.lato1 {
    margin-top: 20px;
    list-style: none;
    border-width: 0 2px 0 2px;
    border-color: black;
    border-style: solid;
    padding: 20px;
    width: 200px;
}

a {
    color: black;
    font-size: 13px;
}

h3 {
    margin-top: 10px;
}

p {
    margin-top: 5px;
}

address {
    margin-top: 3px;
    opacity: 0.5;
}

.contenitore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
}

.contpiccolo {
    width: 35%;
    text-align: center;
    border: double;
    border-width: 0 0 7px 0 ;
    padding: 5px;
}

h1, .text, .firma {
    text-align: center;
}

h1 {
    margin-top: 10px;
}

.contenitore1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    padding-right: 20px;
}

.lato2 {
    list-style: none;
    width: 200px;
}

h2 {
    margin-top: 10px;
}

hr {
    margin: 25px;
    width: 40vh;
}

a:hover {
    color: blue;
}