* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section-3 {
    margin: 2rem;
}
.raccomandati {
    background-color: antiquewhite;
    padding: 1rem;
    border: thick double black;
    outline: solid; 
    outline-offset: 0.1rem;
    text-align: center;
}

.section-3 ul {
    display: flex;
    list-style-type: none;
    /* align-items: space-around; */
    overflow: auto;
    align-items: baseline;
    gap: 2rem;
}

.section-3 ul li:not(:last-child){
    border-right: 0.1rem solid black;
    padding-right: 2rem;
}

/* .notizie-racc {

} */
/* cambiere tipo bordo e mettere 'outline' per dare pìù spazio */
.notizie-racc img {
    background-color: aquamarine; /*da levare*/
    border-radius: 50%;
    max-width: 125px;
    height: 125px;
    border: thick double;
    object-fit: cover;
}

.trafiletto {
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
    margin-top: 5%;
    text-align: center;
    

}
/* } */

a:link{
    text-decoration: none;
    color: black;
}

h4 {
    font-size: 10px;
    text-decoration: underline;
}