* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#second-section {
	height: 100vh;
	width: 100%;
	padding: 40px 10%;
	display: flex;
	gap: 10%;
}
#line-1 {
	height: 5px;
	background-color: black;
}

aside {
	height: 100%;
	width: 210px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside > * {
	width: 210px;
}

aside #heading {
	height: 40px;
	display: flex;
	align-items: center;
	border-top: 1px solid black;
	margin-top: 5px;
}

aside #heading h1 {
	font-size: 20px;
}

aside #content {
	height: 100%;
	border-top: 1px solid black;
	padding-top: 20px;
}

aside ul {
	display: flex;
	flex-direction: column;
	gap: 24px;
	list-style: none;
}

aside li {
	height: 100%;
}

aside .news-title {
	display: flex;
}

aside .title {
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
}

aside .title h2 {
	font-size: 11px;
}

aside .subtitle {
	margin-top: 8px;
	margin-bottom: 4px;
}

aside .subtitle a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
aside .subtitle a:hover {
	color: #767676;
}

aside .content {
	font-size: 13px;
	margin-bottom: 2px;
}

aside .date {
	font-size: 11px;
	font-weight: bold;
	color: #767676;
}

aside #bottom {
	display: flex;
	align-items: baseline;
	height: 40px;
	text-decoration: none;
	color: black;
}

aside #read-more {
	border-top: 2px solid black;
	padding-top: 5px;
	margin-top: 15px;
}

aside #read-more h2 {
	font-size: 13px;
}

aside #triangle-container {
	height: 26px;
	width: 20px;
	border-top: 2px solid black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

aside #triangle {
	height: 8px;
	width: 10px;
	border-top: 5px solid rgba(0, 0, 0, 0);
	border-bottom: 5px solid rgba(0, 0, 0, 0);
	border-left: 8px solid #000;
}

#top-part {
	margin-top: 5px;
	padding-top: 32px;
	padding-bottom: 48px;
	border-top: 1px solid black;
	width: 100%;
	height: 80%;
	display: flex;
	gap: 48px;
}

#top-part #left {
	height: 100%;
	width: 40%;
	position: relative;
}

#bottom-part #left {
	height: 100%;
	width: 40%;
}

#top-part #right,
#bottom-part #right {
	height: 100%;
	width: 60%;
}

#top-part #right #top {
	height: 80%;
	width: 100%;
	display: flex;
	gap: 5%;
}

#top-part #left #img-placeholder img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#top-part #left #title-container {
	height: 50px;
	width: 190px;
	position: absolute;
	background-color: white;
	transform: translate(-50%, -50%);
	left: 27%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#top-part #left #title-container #title {
	height: 90%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid black;
	position: relative;
}

#top-part #left #title-container #title a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

#top-part #left #title-container #double-border {
	height: 3px;
	width: 100%;
	background-color: #000;
	position: absolute;
	top: 85%;
}
#left article {
	width: 100%;
	height: 50%;
}

#left article #subtitle {
	width: 100%;
	height: 30%;
	margin-top: 10%;
	display: flex;
	align-items: flex-end;
}

#left article #subtitle a {
	font-size: 28px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#left article #subtitle a:hover {
	color: #929292;
}

#left article #article-body {
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
	font-size: 16px;
}

#top-part #right #top .img-placeholder img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#top-part #right #top article .news-title {
	display: flex;
	padding: 10px 0 10px;
}

#top-part #right #top article .news-title .title {
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
}

#top-part #right #top article .news-title .title a {
	font-size: 11px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#top-part #right #top article #subtitle a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

#top-part #right #top article #subtitle a:hover {
	color: #767676;
}

#top-part #right #top article #article-body p {
	font-size: 16px;
	margin: 8px 0 4px;
}

#author p {
	font-size: 13px;
}

#author a {
	text-decoration: none;
	color: black;
}
#author a:hover {
	color: #929292;
	text-decoration: underline;
}

#top-part #right #bottom {
	border-top: 1px solid black;
	padding-top: 24px;
	margin-top: 30px;
	font-size: 22px;
	color: #767676;
}
#top-part #right #bottom #link-1 {
	color: red;
	text-decoration: none;
}
#top-part #right #bottom #link-2 {
	color: black;
	text-decoration: none;
}

#top-part #right #bottom #link-2:hover {
	color: #767676;
}

#top-part #right #bottom #link-3 {
	color: #767676;
	text-decoration: none;
}
#top-part #right #bottom #link-3:hover {
	color: #767676;
	text-decoration: underline;
}

#bottom-part {
	margin-top: 5px;
	padding-top: 40px;
	border-top: 1px solid black;
	width: 100%;
	height: 80%;
	display: flex;
}

#bottom-part #left {
	height: 100%;
	width: 50%;
	padding-right: 48px;
	border-right: 1px solid black;
	position: relative;
}

#bottom-part #left #img-placeholder img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#bottom-part #left #title-container {
	height: 50px;
	width: 125px;
	position: absolute;
	background-color: white;
	transform: translate(-50%, -50%);
	left: 14%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 4px;
}

#bottom-part #left #title-container #title {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid black;
	position: relative;
}

#bottom-part #left #title-container #title a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

#bottom-part #left #title-container #double-border {
	height: 3px;
	width: 100%;
	background-color: #000;
	position: absolute;
	top: 85%;
}

#bottom-part #left article #subtitle,
#bottom-part #left article #article-body {
	margin-bottom: 25px;
}

#bottom-part #right {
	padding-left: 48px;
}

#bottom-part #right #title-container {
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#bottom-part #right #title-container #title {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid black;
	position: relative;
}

#bottom-part #right #title-container #title a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

#bottom-part #right #title-container #double-border {
	height: 3px;
	width: 100%;
	background-color: #000;
	position: absolute;
	top: 85%;
}

#bottom-part #right article #subtitle {
	padding: 16px 0 4px;
}

#bottom-part #right article #subtitle a {
	font-size: 53px;
	text-decoration: none;
	color: black;
}

#bottom-part #right article #subtitle a:hover {
	color: #767676;
}

#bottom-part #right article #article-body {
	margin: 12px 0 16px;
	padding-right: 32px;
}
