* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section-3 {
    margin: 9rem;

    .raccomandati {
        background-color: antiquewhite;
        padding: 1rem;
        border: thick double black;
        outline: solid; 
        outline-offset: 0.2rem;
        text-align: center;
        position: relative;

        .h3-rec{
            position: absolute;
            top: -6%;
            right: 43%;
            background-color: white;
            font-size: 30px;
        }

        .lista1 {
            display: flex;
            list-style-type: none;
            overflow: auto;
            gap: 2rem;         
    
            .el-lista{
                border-right: 0.1rem solid black;
                padding-right: 1.5rem;
                .notizie-racc{
                    width: 185px;
                    height: 296px;
                    padding-top: 10%;
                    color: black;
    
                    .img-tonde img{
                        border-radius: 50%;
                        max-width: 125px;
                        height: 125px;
                        border: 0.1rem solid;
                        outline: solid;
                        outline-offset: 0.2rem;
                        object-fit: cover;
                    }
                    .anticipazione-rec{
                        text-decoration: none;
                        color: black;
                        padding-top: 10%;

                        .tittolo-rec{
                            color: aqua;
                            font-size: 30px;
                            text-decoration: underline;
                        }   
    
                    }
                }

            }
        }
        .more-editor{
            background-color: aqua;
    
            .link{
                color: white;
                text-decoration: none;
                font-weight: bold;
                position: absolute;
                bottom: -22px;
                right: 43%;
                background-color: black;
                border: 0.5rem solid white;
                outline: solid black 0.01rem;
                padding: 2px;
                
            }
         }
    }

    /* SECONDA PARTE */

    .trafiletto {
        border-top-style: double;
        border-top-width: thick;
        border-bottom: 0.1rem solid;
        outline-offset: 0.1rem;
        margin-top: 5%;
        padding-bottom: 7%;
        text-align: center;
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .titolo-traf {
            font-size: 35px;
            color: black;
        }
        .sottotilo{
            display: flex;
            justify-content: center;
            gap: 1rem;
            color: black;

            .sottotilo-traf {
                font-size: small;
                font-weight: none;  
                color: black;
            }
            .referenza{
                display: flex;
                gap: 0.5rem;
                font-size: small;
                color: black;
            }
        }
    }

    /*terza parte*/
    .report-showtime {
        margin-top: 7%;
        padding-top: 2%;
        /* border */
        border-top-style: double;
        border-top-width: thick;
        display: flex;
        gap: 1rem;
        position: relative;

        .titolo {
            text-decoration: none;
            color: red;
            font-size: 25px;
            border-bottom: solid black;
            width: 15%;
            padding-bottom: 15%;
        }
        .cambio-colore {
            color: black;
        }
        .showtime {
            width: 114px;
            height: 56px;
            margin-top: 15%;
        }
        
        .lista2{
            display: flex;
            list-style-type: none;
            gap: 2rem;
            overflow: hidden;    
            .report{
                width: 263px;
                height: 209px;
            
                .img-quadrata img{
                    background-color: aqua;
                    border: 1px solid white;
                    width: 199px;
                    height: 137px;
                    object-fit: cover;
                }
                .div {
                    .anticipazione-re{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
    .more {
        width: 100%;
        position: relative;
        margin-top: 2%;

        .hr {
            border: 0.01rem solid;
        }

        .link-more {
            position: absolute;
            border: solid;
            background-color: white;
            top: -15px;
            right: 0px;
            text-decoration: none;
            font-weight: bold;
            color: black;
            padding: 5px;
        }
    }
}

a:link{
    text-decoration: none;
    font-weight: bold;;
    color: black
}

a:link:hover {
    opacity: 70%;
}

h4 {
    font-size: 10px;
    text-decoration: underline;
}
