.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: white;
    height: 50px;
    width: 100%;
}

.line{
  border: none;
  height: 5px;
  background-color: black;  
}

.line2{
    border: none;
    height: 1px;
    background-color: black; 
}

.navbar{
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex
    
}

.left1{
    margin-left: 50px;
    width: 100%;
    text-align: left;
    flex-direction: column;
    display: flex;
    background-color: rgb(255, 255, 255);
    
}

.middle1{
    margin-right: 100px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    background-color: rgb(255, 255, 255);
    width: 100%;
    
}

.right1{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255)
    
}

.left2{
    
    display: flex;
    width: 100%
    margin-right: 10px;
}

.hamMenu{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-top: 22px;
   
}

.searchBar{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}
.middleLink{
    margin-left: 20px;
    margin-right: 70px;
    display: flex;
    flex-direction: column; 
    background-color:white
    width: 100%;
    text-align: center;
}

.right2{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.searchBar{
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lens{
    margin-left: 15px;
    width: 20px;
    height: 20px;
}

a{
    color: black;
}
.containerNavbar{
    align-items: center;
    padding: 10px;
   
}