* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#second-section {
	height: 100vh;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 40px;
	display: flex;
	gap: 10%;

}
#line-1 {
	height: 5px;
	background-color: black;
}

aside {
	height: 100%;
	width: 210px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside > * {
	width: 210px;
}

aside #heading {
	height: 40px;
	display: flex;
	align-items: center;
	border-top: 1px solid black;
	margin-top: 5px;
}

aside #heading h1 {
	font-size: 20px;
}

aside #content {
	height: 100%;
	border-top: 1px solid black;
	padding-top: 20px;
}

aside ul {
	display: flex;
	flex-direction: column;
	gap: 24px;
	list-style: none;
}

aside li{
	height: 100%;
}

aside .news-title {
	display: flex;
}

aside .title {
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
}

aside .title h2 {
	font-size: 11px;
}

aside .subtitle {
	margin-top: 8px;
	margin-bottom: 4px;
}

aside .subtitle a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
aside .subtitle a:hover {
	color: #767676;
}

aside .content {
	font-size: 13px;
	margin-bottom: 2px;
}

aside .date {
	font-size: 11px;
	font-weight: bold;
	color: #767676;
}

aside #bottom{
	display: flex;
	align-items: baseline;
	height: 40px;
	text-decoration: none;
	color: black;
}

aside #read-more{
	border-top: 2px solid black;
	padding-top: 5px;
	margin-top: 15px;
}

aside #read-more h2 {
	font-size: 13px;
}

aside #triangle-container{
	height: 26px;
	width: 20px;
	border-top: 2px solid black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

aside #triangle{
	height: 8px;
	width: 10px;
	border-top: 5px solid rgba(0,0,0,0);
  border-bottom: 5px solid rgba(0,0,0,0);
  border-left: 8px solid #000;
}

#top-part{
	margin-top: 5px;
	padding-top: 32px;
	padding-bottom: 48px;
	border-top: 1px solid black;
	width: 100%;
	height: 80%;
	display: flex;
	gap: 48px;
}


#top-part #left{
	height: 100%;
	width: 40%;
	position: relative;
}

#bottom-part #left{
	height: 100%;
	width: 40%;
}

#top-part #right,
#bottom-part #right{
	height: 100%;
	width: 60%;
}

#top-part #right #top{
	height: 80%;
	width: 100%;
	display: flex;
	gap: 5%;
}

#top-part #left #img-placeholder img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#top-part #left #title-container{
	height: 50px;
	width: 190px;
	position: absolute;
	background-color: white;
	transform: translate(-50%, -50%);
	left: 27%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#top-part #left #title-container #title{
	height: 90%;
	width: 181px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid black;
	position: relative;
}

#top-part #left #title-container #title a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

#top-part #left #title-container #double-border{
	height: 3px;
	width: 100%;
	background-color: #000;
	position: absolute;
	top: 90%;
}
#top-part #left article{
	width: 100%;
	height: 50%;
}

#top-part #left article #subtitle{
	width: 100%;
	height: 30%;
	margin-top: 10%;
	display: flex;
	align-items: flex-end;
}

#top-part #left article #subtitle a{
	font-size: 28px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#top-part #left article #subtitle a:hover{
	color: #929292;
}

#top-part #left article #article-body{
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
}

#top-part #left article #article-body p{
	font-size: 16px;
}


#top-part #right #top .img-placeholder img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#top-part #right #top article .news-title{
	display: flex;
	padding: 10px 0 10px;
}

#top-part #right #top article .news-title .title{
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
}

#top-part #right #top article .news-title .title a {
	font-size: 11px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#top-part #right #top article #subtitle a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

#top-part #right #top article #subtitle a:hover{
	color: #767676;
}
 
#top-part #right #top article #article-body p{
	font-size: 16px;
	margin: 8px 0 4px;
}

#top-part #author p{
	font-size: 13px;
}

#top-part #author a{
	text-decoration: none;
	color: black;
}
#top-part #author a:hover{
	color: #929292;
	text-decoration: underline;
}


#top-part #right #bottom{
	border-top: 1px solid black;
	padding-top: 24px;
	font-size: 22px;
	color: #767676;
}
#top-part #right #bottom #link-1{
	color: red;
	text-decoration: none;
}
#top-part #right #bottom #link-2{
	color: black;
	text-decoration: none;
}

#top-part #right #bottom #link-2:hover{
	color: #767676;
}

#top-part #right #bottom #link-3{
	color: #767676;
	text-decoration: none;
}
#top-part #right #bottom #link-3:hover{
	color: #767676;
	text-decoration: underline;
}



#bottom-part{
	margin-top: 5px;
	padding-top: 32px;
	padding-bottom: 48px;
	border-top: 1px solid black;
	width: 100%;
	height: 50%;
	background-color: #c6ce5b;
}

#bottom-part{
	display: flex;
}

#bottom-part #left{
	height: 100%;
	width: 50%;
	border-right: 1px solid black;
	background-color: #767676;
}
