* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#navbar header {
	background-color: white;
	height: 50px;
	width: 100%;
}

#navbar .line {
	border: none;
	height: 5px;
	background-color: black;
}

#navbar .line2 {
	margin-top: 5px;
	border: none;
	height: 1px;
	background-color: black;
}

#navbar .navbar {
	height: 100%;
	background-color: rgb(255, 255, 255);
	display: flex;
}

#navbar .left1 {
	margin-left: 150px;
	width: 100%;
	text-align: left;
	flex-direction: column;
	display: flex;
	background-color: rgb(255, 255, 255);
}

#navbar .middle1 {
	margin-left: 20px;
	margin-right: 100px;
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	width: 200%;
}

#navbar .right1 {
	margin-left: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
}

#navbar .downNavLink {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 8px;
}

#navbar .left2 {
	display: flex;
	margin-right: 10px;
}

#navbar .hamMenu {
	margin-left: 190px;
	display: flex;
	flex-direction: column;
	margin-right: 150px;
	margin-top: 22px;
}

#navbar .searchBar {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#navbar .middleLink {
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	width: 150px;
	text-align: center;
}

#navbar .right2 {
	margin-right: 150px;
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}

#navbar .searchBar {
	margin-left: 80px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#navbar .lens {
	margin-left: 15px;
	width: 20px;
	height: 20px;
}

#navbar a {
	color: black;
}
#navbar .containerNavbar {
	align-items: center;
	padding: 10px;
}
