* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#second-section {
	height: 100%;
	width: 100%;
	background: white;
	padding-left: 10%;
	padding-top: 40px;
}

aside {
	height: 100%;
	width: 210px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside > * {
	width: 210px;
}

#line-1 {
	height: 5px;
	background-color: black;
}

#line-2 {
	height: 3px;
	background-color: grey;
	margin-top: 3px;
}

#heading {
	height: 40px;
	display: flex;
	align-items: center;
}

#heading h1 {
	font-size: 20px;
}

#content {
	height: 100%;
	border-top: 1px solid black;
	padding-top: 20px;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 24px;
	list-style: none;
}

li{
	height: 100%;
}

.news-title {
	display: flex;
}

.title {
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
}

.title h2 {
	font-size: 11px;
}

.subtitle {
	margin-top: 8px;
	margin-bottom: 4px;
}

.subtitle a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.subtitle a:hover {
	color: #767676;
}

.content {
	font-size: 13px;
	margin-bottom: 2px;
}

.date {
	font-size: 11px;
	font-weight: bold;
	color: #767676;
}

#bottom{
	display: flex;
	align-items: baseline;
	height: 40px;
	text-decoration: none;
	color: black;
}

#read-more{
	border-top: 2px solid black;
	padding-top: 5px;
	margin-top: 15px;
}

#read-more h2 {
	font-size: 13px;
}

#triangle-container{
	height: 26px;
	width: 20px;
	border-top: 2px solid black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#triangle{
	height: 8px;
	width: 10px;
	border-top: 5px solid rgba(0,0,0,0);
  border-bottom: 5px solid rgba(0,0,0,0);
  border-left: 8px solid #000;
}