.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-color: white;
height: 90px;
width: 100%;
padding: 0.5rem 0.5rem;
}
.navbar{
    display: inline-block;
    margin: 10px;
    width: 100%;
    background-color: rgb(213, 36, 36);
}
.left1{
    display: inline-block;
    margin: 10px 10px 10px 10px;
    height: 80px;
    width: 450px;
    background-color: aqua;
    font-weight: 900;
    font font-style:
}

.middle1{
    display: inline-block;
    height: 75px;
    width: 550px;
    background-color: blueviolet;
    text-align: center;
}

.right1{
    display: inline-block;
    padding: 10px;
    height: 75px;
    width: 450px;
    background-color:  lightgreen;
}