* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#second-section {
	height: 100vh;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 40px;
	display: flex;
	gap: 10%;

}

aside {
	height: 100%;
	width: 210px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside > * {
	width: 210px;
}

#line-1 {
	height: 5px;
	background-color: black;
}

#heading {
	height: 40px;
	display: flex;
	align-items: center;
	border-top: 1px solid black;
	margin-top: 5px;
}

#heading h1 {
	font-size: 20px;
}

#content {
	height: 100%;
	border-top: 1px solid black;
	padding-top: 20px;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 24px;
	list-style: none;
}

li{
	height: 100%;
}

.news-title {
	display: flex;
}

.title {
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
}

.title h2 {
	font-size: 11px;
}

.subtitle {
	margin-top: 8px;
	margin-bottom: 4px;
}

.subtitle a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.subtitle a:hover {
	color: #767676;
}

.content {
	font-size: 13px;
	margin-bottom: 2px;
}

.date {
	font-size: 11px;
	font-weight: bold;
	color: #767676;
}

#bottom{
	display: flex;
	align-items: baseline;
	height: 40px;
	text-decoration: none;
	color: black;
}

#read-more{
	border-top: 2px solid black;
	padding-top: 5px;
	margin-top: 15px;
}

#read-more h2 {
	font-size: 13px;
}

#triangle-container{
	height: 26px;
	width: 20px;
	border-top: 2px solid black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#triangle{
	height: 8px;
	width: 10px;
	border-top: 5px solid rgba(0,0,0,0);
  border-bottom: 5px solid rgba(0,0,0,0);
  border-left: 8px solid #000;
}

#main-section{
	height: 100vh;
	width: 100%;
}

#top-part{
	margin-top: 5px;
	padding-top: 32px;
	padding-bottom: 48px;
	border-top: 1px solid black;
	width: 100%;
	height: 70%;
	background-color: #c6ce5b;
	display: flex;
	gap: 48px;
}

#bottom-part{
	margin-top: 5px;
	padding-top: 32px;
	padding-bottom: 48px;
	border-top: 1px solid black;
	width: 100%;
	height: 50%;
	background-color: #c6ce5b;
}

#left{
	height: 100%;
	width: 40%;
	background: #a7a7a7;
}

#right{
	height: 100%;
	width: 60%;
	background: #b66969;
}

#right #top{
	height: 80%;
	width: 100%;
	display: flex;
	gap: 5%;
}

#right #left-side{
	height: 100%;
	width: 50%;
	background: #4f2cce;
}

#right #right-side{
	height: 100%;
	width: 50%;
	background: #329924;
}

#right #bottom{
	height: 20%;
	width: 100%;
	background: #d80707;
	border-top: 1px solid black;

}

#top-part #left #img-placeholder{
	width: 100%;
	height: 50%;
	background-color: #329924;
}

#top-part #left article{
	width: 100%;
	height: 50%;
	background: #929292;
}

#top-part #left article #subtitle{
	width: 100%;
	height: 30%;
	background-color: burlywood;
}

#top-part #left article #article-body{
	width: 100%;
	height: 30%;
	background-color: rgb(51, 222, 235);
}
#top-part #left article #author{
	width: 100%;
	height: 20%;
	background-color: rgb(57, 156, 102);
}

#bottom-part{
	display: flex;
}

#bottom-part #left{
	height: 100%;
	width: 50%;
	border-right: 1px solid black;
}

#right-side .img-placeholder,
#left-side .img-placeholder{
	width: 100%;
	height: 40%;
	background-color: aqua;
}
